<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/aop
    	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		">
	<context:annotation-config />
	
	<context:component-scan base-package="com.lbs.nettyserver" />
	
    <bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>config/properties/log4j.properties</value>
				<value>config/properties/channelpool.properties</value>
				<value>config/properties/hibernate.properties</value>
				<value>config/properties/redis.properties</value>
			</list>
		</property>
	</bean>
	<!-- 加载配置文件信息，供系统代码调用，无关xml文件配置加载 -->
	<bean id="sysConfigurer"
		class="com.lbs.nettyserver.properties.SystemPropertyPlaceholderConfigurer">
		<property name="order" value="5" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<!-- 加载测试环境配置文件 -->
				<value>config/properties/system/*.properties</value>
				<!-- 加载生产环境配置文件 -->
				<!-- <value>classpath:config/production/*.properties</value> -->
				<!-- 加载 内部人员 测试配置 -->
				<!--<value>classpath:config/alpha/*.properties</value>-->
			</list>
		</property>
	</bean>
	<bean id="timerService" init-method="initTimer" class="com.lbs.nettyserver.service.sysservice.TimerService"/> 
	 
	<task:scheduled-tasks >  
        <task:scheduled ref="timerService"  method="refreshSystemCaseMethodList" cron="40 4/15 * * * ?" /><!--每15分钟-->
        <task:scheduled ref="timerService"  method="refreshSessionCode" cron="20 3/11 * * * ?" /><!--每11分钟-->
        <task:scheduled ref="timerService"  method="liveMessageScoreCalculate" cron="20 20/30 0-1,8-23 * * ?" /><!--每30分钟,在2点至7点之间不执行-->
        <task:scheduled ref="timerService"  method="userLiveScoreCalculate" cron="30 10/30 0-1,8-23 * * ?" /><!--每30分钟,在2点至7点之间不执行-->
        <task:scheduled ref="timerService"  method="smartMessageScoreCalculate" cron="5 15/30 0-1,8-23 * * ?" /><!--每30分钟,在2点至7点之间不执行-->
        <task:scheduled ref="timerService"  method="userPowerValueResetAllUser" cron="0 0 0 * * ?" /><!--每天0点执行-->
        <task:scheduled ref="timerService"  method="moveHistoryData" cron="0 0 2-7 * * ?" /><!--每天2-7整点执行-->
    </task:scheduled-tasks> 
</beans>